// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## archive
--------------------------------------------------------------*/
@import "primary/archives";

/*--------------------------------------------------------------
## archive
--------------------------------------------------------------*/
@import "primary/search-results";






.wordpress_body{
	.site{
		overflow: hidden;
		position: relative;
		.site-content#content{
			padding: 0;
			@media screen and (max-width: $bp_medium_screen) {
				padding: 0;
	
			}
		}
		
	}
}


/*--------------------------------------------------------------
## archive
--------------------------------------------------------------*/
@import "primary/single";

/*--------------------------------------------------------------
## archive
--------------------------------------------------------------*/
@import "404/404";