.wordpress_body{
	.grid-articles {
		article.article-grid{
			background-color:$color__background-body;
			box-shadow: $box-shadow-normal;
			padding: 0 0 10px 0;
			height: 390px;

			header.entry-header {
				.thumbnail-grid {
					background-position: center center;
				    background-repeat: no-repeat;
				    background-size: cover;
				    position: relative;
				    @include backgroundImage('pattern.jpg');
				    a {
					    height: 215px;
					    width: 100%;
					    display: block;
					    background-repeat: no-repeat;
					    background-position: center center;
					    
					    .overlay {
						    background-color: $color__primary-text-opacity-8;
						    width: 100%;
						    height: 100%;
						    position: relative;
						    display: table;
						    transition : all 0.25s ease;
						    opacity: 0;
						    .entry-info {
							    width: 100%;
							    bottom: 0;
							    display: table-cell;
							    vertical-align: middle;
							    overflow: hidden;
							    
							    .category {
								    display: block;
								    font-family: $font__heading;
								    text-align: center;
								    font-size: 18px;
								    color: $color__secondary-text;
								    text-transform: uppercase;
								    transition : all 0.35s ease;
									transform: translateY(100px);
							    }
							    .hr {
								    margin: 12px auto 16px auto;
								    border: 0;
								    border-bottom: 1px solid $color__secondary-text;
								    max-width: 75px;
								    display: block;
								    transition : all 0.375s ease;
								    transform: translateY(200px);
							    }
							    .excerpt {
								    width: 75%;
									display: block;
								    margin: 0 auto;
								    color: $color__secondary-text;
								    font-family: $font__heading;
								    font-size: 13px;
								    letter-spacing: 1px;
									font-weight: 100;
								    line-height: 20px;
								    text-align: center;
									transition : all 0.40s ease;
								    transform: translateY(300px);
							    }
						    }
					    }
					    &:hover {
						    .overlay {
							    opacity: 1;
							    .entry-info {
								   								    
								    .category {
									    
										transform: translateY(0px);
								    }
								    .hr {
									    transform: translateY(0px);
								    }
								    .excerpt {
									    transform: translateY(0px);
								    }
							    }
						    }
					    }
					}
				}
				.entry-title {
					text-align: center;
					margin-top: 20px;
					margin-bottom: 10px;
					font-weight: 400;
					font-size: 16px;
					line-height: 18px;
					padding: 0 20px;
					height: 55px;
					overflow: hidden;
					font-family: $font__heading;

				    a {
						color: $color__primary-text;
				    }
				    @media screen and (max-width: $bp_medium_screen) {
				        height: 75px;
				       
				    }
				    @media screen and (max-width: $bp_small_screen) {
				        height: auto;
				       
				    }
				}

				.entry-button-container {
					text-align: center;
					margin-bottom: 20px;
					
					.entry-button {
						display: inline-block;
						border-radius: 3px;
						outline: none;
						background-color: $color__primary;
						width: 110px;
						height: 35px;
						color: $color__secondary-text;
						cursor: pointer;

						&:hover {
							background-color: $color__link-hover;
						}
					}
				}
			}

			//prova 1 con float
			/*.entry-footer {
				height: 25px;

				&::before,
				&::after {
					content: '';
					display: table;
				}

				&::after {
					clear: both;
				}

				.entry-category-icon {
					width: 20px;
					height: 20px;
					background-color: $color__primary;
					float: left;
					margin-left: 5px;
				}

				.entry-date {
					color: $color__mediumgrey;
					font-size: 14px;
					float: left;
					margin-left: 5px;
				}

				.tags-container {
					display: inline-block;
					bottom: 0;
					left: 0;
					float: right;
					margin-right: 5px;
				}

				//da commentare!
				a.read-more {
					position: absolute;
					display: inline-block;
					bottom: 0;
					right: 0;
				    font-family: $font__cta;
				    font-weight: 400;
				    font-size: 15px;
				    color: $color__darkgrey;
				    font-style: italic;
				    @include transition();
					&:hover{
						color: $color__secondary;
					}
				}

			}*/
		}

		//prova 2 con il position 
		.entry-footer {
			height: 25px;
			position: relative;

			.entry-category-icon {
				position: absolute;
				display: inline-block;
				left: 5px;
				width: 20px;
				height: 20px;
				background-color: $color__primary;
			}

			.entry-date {
				position: absolute;
				display: inline-block;
				left: 30px;
				top: 2px;
				color: $color__mediumgrey;
				font-size: 14px;
			}


			.tags-container{
				position: absolute;
				display: inline-block;
				right: 5px;
			}

		}


		&.grid-2{
			article.article-grid{
				width: calc((100% - 60px ) / 3);
				float: left; 
				margin: 0 0 40px 0;	
			}
			article.article-grid:nth-child(3n - 1){
				margin: 0px 30px;
			} 
		
			@media screen and (max-width: $bp_small_screen) {
				article.article-grid:nth-child(2n-1),
				article.article-grid:nth-child(2n),
				article.article-grid{
					width: 100%;
					float: none; 
					margin: 0px 0 40px 0;
				}
			}
		}
		&.grid-3{
			article.article-grid{
				width: 30.667%;
				float: left; 
				margin: 0px 2% 40px 2%;
			}
			article.article-grid:nth-child(3n){
				margin: 0px 0 40px 2%;
			} 
			article.article-grid:nth-child(3n+1){
				margin: 0px 2% 40px 0;
			}
			
			@media screen and (max-width: $bp_medium_screen) {
				article.article-grid{
					header.entry-header{
						.thumbnail-grid a {
							height: 160px;
						}
						.entry-title{
							font-size: 15px;	
						}
					}
					footer{
						.tags-container{
							display: none;
						}
					}
				}
				
			}
			@media screen and (max-width: $bp_small_screen) {
				article.article-grid:nth-child(3n+1),
				article.article-grid:nth-child(3n),
				article.article-grid{
					width: 100%;
					float: none; 
					margin: 0px 0 40px 0;
				}
				article.article-grid{
					header.entry-header{
						.thumbnail-grid a {
							height: 190px;
						}
						.entry-title{
							font-size: 18px;	
						}
					}
					footer{
						.tags-container{
							display: inline-block;
						}
					}
				}
			}
		}
		.next-page{
			&.next-page-hidden{
				display: none;
			}
		}
	}
	
}