.wordpress_body {
  .product-slider {
    .overall-container {
      margin: 0 10px;
      &:first-of-type {
        margin: 0 10px 0 0;
      }
      &:last-child {
        margin: 0 10px 0 0;
      }
    }
  }
  .slick-arrows {
    cursor: pointer;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    .slick-arrow {
      height: 30px;
      margin: 0 10px;
      img {
        height: 30px;
      }
    }
    .slick-info-tiles {
      height: 30px;
      line-height: 30px;
      font-weight: bold;
    }
  }
}