.wordpress_body {
  .slick-slider {
    width: 100%;
    margin: 0 0 40px 0;
    .slide-container {
      margin: 0;
      padding: 0;
      list-style-type: none;
      height: 490px;
      overflow: hidden;
      .post {
        margin: 0;
        padding: 0;
        display: table;
        height: 450px;
        width: 100%;
        .thumbnail-grid {
          display: table-cell;
          vertical-align: middle;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 100%;
          @include backgroundImage('pattern.jpg');
          .white-banner {
            width: 100%;
            height: 230px;
            //margin: 0 auto;
            padding: 70px 10% 40px;
            text-align: center;
            background-color: $color__secondary-text-opacity-7;

            .entry-title {
              font-family: $font__heading;
              font-weight: 600;
              color: $color__darkgrey;
              font-size: 26px;
              margin: 0px;
              padding: 0;
            }
            a.read-more {
              display: block;
              margin: 25px auto 0;
              width: 110px;
						  height: 35px;
              padding: 8px 0;
              font-family: $font__cta;
              font-weight: 500;
              background-color: $color__primary;
              border-radius: 3px;
              //border: 1px solid $color__primary;
              color: $color__secondary-text;
              font-size: 14px;
              outline: none;
              //@include transition();
              &:hover {
                background-color: $color__link-hover;
              }
            }
          }
        }
      }
      .slick-dots {
        margin: 0;
        text-align: center;
        bottom: 0;
        li {
          button {
            height: 16px;
            width: 16px;
            border-radius: 2px;
            background-color: $color__lightgrey;
            @include transition();
            &::before {
              content: '';
              display: none;
            }
          }
          &:hover,
          &.slick-active {
            button {
              background-color: $color__primary;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: $bp_medium_screen) {
    .slick-slider {
      .slide-container {
        height: 345px;
        .post {

          .thumbnail-grid {
            vertical-align: bottom;
            .white-banner {
              padding: 15px 10% 0px;
              position: relative;
              .entry-title {
                margin: 0 0 -9px;
              }
              a.read-more {
                bottom: -14px;
                margin: 0 auto;
                position: relative;
                &:hover {
                  background-color: $color__secondary-text;
                }
              }
            }
          }
        }
        .slick-dots {
          bottom: 2px;
          li {
            button {
              height: 21px;
              width: 22px;
            }
          }
        }
        .slick-list {
          padding: 0px 0px 26px 0px;
        }
      }
    }
  }
}