.wordpress_body.error404{
	.site-content{
		@include backgroundImage('spilled-bottle.jpg');
		background-repeat: no-repeat;
		background-position: right -113px top -75px;
		@media screen and (max-width: $bp_medium_screen) {
			@include backgroundImage('spilled-bottle_25.jpg');
		}
	}
	.site-content .error-404 {
	    color: $color__primary;
	    font-family: $font__heading;
	    font-size: 19px;
	    font-weight: 500;
	    line-height: 26px;
	    margin: 120px 0;
	    padding: 30px 15px;
	    p{
		    font-size: 16px;
	    }
	   
	}
	
	.page-header{
		
    	border-bottom: 0px;
		.page-title{
			color: $color__primary;
			font-size: 50px;
			text-transform: uppercase;
			font-weight: 800;
			span {
			    font-weight: 900;
			    font-size: 100px;
			    display: block;
			    line-height: 75px;
			    
			}
		}
	}
	#search-404 {
	    border: 1px solid $color__lightgrey;
	    border-radius: 4px;
	    -moz-border-radius: 4px;
	    -ms-border-radius: 4px;
	    -webkit-border-radius: 4px;
		padding: 10px 15px 0px 15px;
	    max-width: 435px;
		background-color: $color__secondary-text;
	    span{
		    font-size: 24px;
	    }
	    input.search-field{
		    position: relative;
		    top: -4px;
		    border: 0;
		    box-shadow: none;
	    }
	    ::-webkit-input-placeholder {
			color: $color__secondary !important;
		    font-family: $font__heading;
		    font-size: 19px;
		    font-weight: 200;
		    opacity: 1;
		}
		#search-bar input.placeholder, #search-bar textarea.placeholder {
		    color: $color__secondary !important;
		    font-family: $font__heading;
		    font-size: 19px;
		    font-weight: 200;
		    opacity: 1;
		}
		::-webkit-input-placeholder *{
			color: $color__secondary !important;
		    font-family: $font__heading;
		    font-size: 19px;
		    font-weight: 200;
		    opacity: 1;
		}
		* ::-webkit-input-placeholder *{
			color: $color__secondary !important;
		    font-family: $font__heading;
		    font-size: 19px;
		    font-weight: 200;
		    opacity: 1;
		}
		
		:-webkit-input-placeholder {
			color: $color__secondary !important;
		    font-family: $font__heading;
		    font-size: 19px;
		    font-weight: 200;
		    opacity: 1;
		}
		:-moz-placeholder {
			 color: $color__secondary !important;
		    font-family: $font__heading;
		    font-size: 19px;
		    font-weight: 200;
		    opacity: 1;
		}
		
		::-moz-placeholder {
			 color: $color__secondary !important;
		    font-family: $font__heading;
		    font-size: 19px;
		    font-weight: 200;
		    opacity: 1;
			/* Since FF19 lowers the opacity of the placeholder by default */
		}
		
		:-ms-input-placeholder {
			color: $color__secondary !important;
		    font-family: $font__heading;
		    font-size: 19px;
		    font-weight: 200;
		    opacity: 1;
		}
	}
	.fake-widget{
		margin: 40px 0 ;
		h3.widget-title .title_table {
		    font-size: 24px;
		}
	}
}