.wordpress_body{
	.widget {
		margin: 0 0 30px 0;
		box-sizing: border-box;
		width: 100%;
		h3.widget-title{
			display: table;
		    width: 100%;
		    margin: 0 0 30px 0;
		    span{
			    display: table-cell;
			    width: 33%;
			    white-space: nowrap;
		    }
		    .sides{
			    background-image: url(./images/pixel_black.jpg);
				background-repeat: repeat-x;
				background-position: left center;
				
		    }
		    .title_table{
			    font-family: $font__heading;
			    font-weight: 200;
			    color: $color__primary-text;
			    font-size: 20px;
			    text-transform: none;
			    padding: 0 10px;
			    line-height: 22px;
			    text-align: center;
		    }
		    @media screen and (max-width: $bp_small_screen) {
				.sides{
				    display: none;
			    }
			    span{
				    white-space: normal;
			    }
			}
				
		}
		/* Make sure select elements fit in widgets. */
		select {
			max-width: 100%;
		}
		
		
		/* sub menu in sidebar */
		&.widget_mlifecategorytaglinks,
		&.widget_nav_menu {

			/* see all menu */
			.menu-see-all-container{
				ul{
					margin: 0;
					padding: 0;
					list-style-type: none;
					li{
						
						margin: 0 0 8px 0;
						a{
							font-family: $font__heading;
							display: block;
							color : $color__primary;
							font-size: 16px;
						    font-weight: 300;
						    padding: 6px 0 4px 0;
							border : 1px solid $color__primary;
							text-align: center;
							@include transition();
							&:hover{
								background-color: $color__primary;
								color: $color__secondary-text;
								&::before{
									color: $color__secondary-text;
								}
							}
						}
						
						/*
						 * menu item with icon or color
						*/
						@include term_customisation_icon();	
						&.term_customisation.term_customisation--icon{
							a{
								&::before{
								    margin: 0 5px 0 0;
								}
							}
						}
						@include term_customisation_colour_sidebar();		 
					}
				}
			}
			.menu-suivez-nous-container,
			.menu-follow-us-container{
				ul{
					margin: 0;
					padding: 0;
					list-style-type: none;
					text-align: center;
					li{
						display: inline-block;
						a{
							color: $color__primary;
						    font-size: 24px;
						    display: block;
						    text-align: center;
						    padding: 0 13px 0 10px;
						    position: relative;
						    @include transition();
						    &::after{
							    content: "";
							    position: absolute;
							    right: 0;
							    top: 24%;
								height: 60%;
							    border-right: 1px dotted $color__primary;
						    }
						    &:hover{
							    color: $color__secondary;
						    }
						    
						}
						&:last-child{
						    a{
							    &::after{
									display: none;    
								}
						    }
					    }
					}
				}
			}
		}
		
		&.widget_mlifepopularposts {
			article {
				header {
					display: table;
					width: 100%; //da tenere?
					min-height: 95px;
					margin-bottom: 15px;

					.thumbnail-grid {
						width: 110px;
						height: 95px;
						display: table-cell;
						position: relative;
						background-position: center center;
					    background-repeat: no-repeat;
					    background-size: cover;
					    @include backgroundImage('pattern.jpg');
						&.thumbnail-grid-mch {
							@include backgroundImage('pattern-mch.jpg');
						}
					    a {
						    height: 100%;
						    width: 100%;
						    display: block;
						    position: absolute;
						    @include transition();
						    &:hover{
						    	background-color: rgba(0, 0 ,0, 0.5);
					    	}
						}
					}
					.info-popular-grid {
						margin-left: 15px;

						h4 {
							display: table-cell;
							font-family: $font__main;
							font-size: 12px;
							font-weight: 400;
							line-height: 16px;
							height: 50px;
							overflow: hidden;
							padding: 0 20px 20px 0;
							
							a {
								@include transition();
								color: $color__primary-text;
								&:hover{
									color: $color__secondary;
								}
							}
						}

						a.read-more {
							font-family: $font__main;
							font-weight: 400;
							font-size: 12px;
							color: $color__primary;
							padding-left: 5px;
							/*float: right;
							font-style: italic;
							padding: 0;
							bottom: -2px;
							position: relative;*/
						}
					}	
				}


				footer {
					position: relative;
					height: 20px;
				    padding: 0 0 7px 0;
					border-bottom: 1px solid $color__mediumgrey;

				    a.dot-tags {
						font-size: 10px;
						height: auto;
						margin: 0 1px 0 1px;
						&.term_customisation.term_customisation--colour{
						    height: 12px;
						    width: 12px;
						    top: 2px;
					    }
					}
					.posted-on a {
						position: absolute;
						right: 0;
						font-family: $font__main;
					    font-weight: 400;
						font-size: 12px;
					    color: $color__darkgrey;
					}
				}
			}
		}
	}
	aside#secondary .widget{
		@media screen and (max-width: $bp_medium_screen) {
			width: 50%;
			padding: 0 15px;
		}
		@media screen and (max-width: $bp_small_screen) {
			width: 100%;
			padding: 0 9%;
		} 
		@media screen and (max-width: $bp_very_small_screen) {
			width: 100%;
			padding: 0 3%;
		}
	}
}