html, body, .main-container {
    height: auto;
    .main-content{
	    .container{
		    &#pageContainer{
			    margin: 0;
			    width: 100%;
			    > .row {
				    margin-left: 0px;
				}
		    }
		}
    }
    &#fake_responsive{
	    width: 100%;
	    max-width: 1044px;
	    padding: 52px 0 0 0;
	    .main-content{
		    width: 100%;
			max-width: 1024px;
		}
    }
    /*#sticky-menu {
	    height: 52px;
	    width: 100%;
	    @include backgroundImage('sticky-menu.jpg');
	    background-repeat: no-repeat;
	    background-position: top center;
	    position: fixed;
	    z-index: 9999;
	}*/
	#contentHubSectionId{
		max-width: 1440px;
	    margin: 0px auto 0 auto;
	    background-color: #fff;
	    padding: 52px 0 0 0;
	}
}
@media (max-width: $bp_small_screen) {
	.row {
		margin-left: 0;
	}
}