.role-editor #menu-comments,
.role-editor #menu-tools,
.role-editor #menu-settings,
.role-editor #toplevel_page_edit-post_type-acf-field-group,
.role-editor #toplevel_page_smush,
.role-editor #toplevel_page_sb-instagram-feed{
	display: none;
}
/* hidding the editor to force Page Builder use */

.wp-core-ui .beaver_builder_shortcut a.button-primary{
	display: block;
    margin: 10px auto;
    width: 93%;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    height: auto;
    padding: 7px 0 6px;

    background: #702786;
    border-color: #702785 #702785 #702785;
    box-shadow: 0 1px 0 #702785;
    text-shadow: none;

}
    