.wordpress_body{
	.clear:before,
	.clear:after,
	.entry-content:before,
	.entry-content:after,
	.comment-content:before,
	.comment-content:after,
	.site-header:before,
	.site-header:after,
	.site-content:before,
	.site-content:after,
	.site-footer:before,
	.site-footer:after {
		@include clearfix;
	}
	
	.clear:after,
	.entry-content:after,
	.comment-content:after,
	.site-header:after,
	.site-content:after,
	.site-footer:after {
		@include clearfix-after;
	}
}