.printer{
	display: none;
}
@media print {
	.printer{
		display: block !important;
	}
	.hero {
	    height: auto;
	    margin: 0;
	    width: 100%;
	    background: none !important;
	}
	
	.single-post .hero h1 {
	    background: none;
	    color: #000;
	    margin: 0;
	    padding: 0;
	    position: relative;
	    width: 100%;
	}
	.whitebox_info {
	    position: relative;
	    text-align: center;
	}
	.whitebox_info nav.navigation.post-navigation {
	    display: none;
	}
	
	.whitebox_info .breadcrumbs {
	    height: 20px;
	    float: none;
	    font-family: arial;
	    font-size: 12px;
	    max-width: 100%;
	    overflow: visible;
	    padding: 0;
	    text-overflow: initial;
	    -ms-text-overflow: ellipsis;
	    white-space: initial;
	    text-align: center;
	    margin: 0 0 11px 0;
	}
	#sticky-menu {
	    display: none;
	}
	.backstretch{
		display: none;
	}
	.site-inner {
	    padding:  0;
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: 0px 0px 0px black
	}
	#masthead{
		display: none;
	}
	
	.hero .category_post {
	    position: relative;
	    bottom:auto;
	    left: auto;
	    width: auto;
	    height: auto;
	    border-radius: 0px;
	    -moz-border-radius: 0px;
	    -webkit-border-radius: 0px;
	    -ms-border-radius: 0px;
	    text-align: center;
	}
	.hero .category_post{
		background: none !important;
	}
	.hero .category_post a span {
	    padding: 19px 0 0 0;
	}
	
	.hero .category_post a {
	    width: auto;
	    height: auto;
	    border-radius: 0px;
	    -moz-border-radius: 0px;
	    -webkit-border-radius: 0px;
	    -ms-border-radius: 0px;
	    display: block;
	    text-align: center;
	}
	.more-info .social_sharing {
	    display: none;
	}
	.more-info .tag_text {
	    float: none;
	    border-right: 1px solid #fff;
	}
	.more-info {
	    width: auto;
	    margin: 0 auto;
	    border-bottom: 1px solid #e7e9eb;
	    padding: 0 0 10px 0;
	    text-align: center;
	}
	.more-info .posted-on {
	    color: #636363;
	    float: none;
	    font-size: 14px;
	    line-height: 24px;
	    padding: 0;
	}
	
	#primary .more-info .tag_text a.dot-tags{color: #000 !important;background-color: #fff !important;display: inline-block;}
}