.wordpress_body{
	a {
		color: $color__link;
	
		&:visited {
			color: $color__link-visited;
		}
		&:hover,
		&:focus,
		&:visited,
		&:active {
			color: $color__link-hover;
		}
		&:focus {
			outline: thin dotted;
		}
		&:hover,
		&:active {
			outline: 0;
		}
	}
}