.wordpress_body {
	


	*,
	*:before,
	*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
		box-sizing: inherit;
	}
	
	
	hr {
		background-color: $color__background-hr;
		border: 0;
		height: 1px;
		margin-bottom: 1.5em;
	}

}

@import "lists";
wordpress_body {
	img {
		height: auto; /* Make sure images are scaled correctly. */
		max-width: 100%; /* Adhere to container width. */
	}
	
	figure {
		margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
	}
}

@import "tables";


/*
 * Slick slider style
*/
@import "slick-slider";

/*
 * Style for articles in grid
*/
@import "articles-grid";

/*
 * Style for dot tags and tags
*/
@import "terms";


/*
 * Style for beaver builder
*/
@import "fl-builder";


/*
 * Style for beaver builder product tiles
*/
@import "product-tiles";


/*
 * Style for beaver builder product slider
*/
@import "product-slider";
/*
 * Custom MRO homepage header with links to tags presented in tiles
*/
@import "top-tag-header-homepage";