.wordpress_body {
  .article-content {
    p {
      font-size: 14px;
      line-height: 20px;
      margin: 0;
    }
    h2, h3, h4 {
      color: $color__darkgrey;
      font-family: $font__heading;
      font-weight: 400;
      margin: 0 0 10px 0;
    }
    h2 {
      font-size: 30px;
      font-weight: 200;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }

    blockquote {
      @include backgroundImage('quote-open.png');
      background-position: left top;
      background-repeat: no-repeat;
      border-left: 0;
      margin: 5px 0;
      padding: 17px 10px 10px 80px;
      line-height: normal;
      color: $color__mediumgrey;
      font-style: italic;
      p {
        font-size: 35px;
        line-height: normal;
        font-family: $font__heading;
        font-weight: 200;
      }
    }
    hr {
      background-color: $color__lightgrey;
      border: 0;
      height: 1px;
      margin: 0 0 1.75em;
    }

    .fl-button-wrap {

      a.fl-button {
        * {
          color: $color__secondary-text;
        }
        background-color: $color__primary;
        border: 1px solid $color__primary;
        display: inline-block;
        padding: 8px 28px;
        font-family: $font__heading;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        @include transition();
        border-radius: 0;

        .fl-button-text {
          position: relative;
          display: inline-block;
          padding: 0 0 3px 0;
          &::after {
            position: absolute;
            content: "";
            height: 1px;
            width: 100%;
            left: 0;
            right: auto;
            bottom: 0;
            background-color: $color__secondary-text;
            @include transition();
          }
        }

        &:hover {
          background-color: transparent;
          * {
            color: $color__primary;
          }
          color: $color__primary;
          .fl-button-text {
            &::after {
              background-color: $color__primary;
            }
          }
        }

      }
    }

    .fl-tabs {
      .fl-tabs-label {
        font-family: $font__heading;
        color: $color__primary;
        font-size: 16px;
        @include transition();
        &:hover {
          color: $color__secondary;
        }
      }
      .fl-tab-active {
      }
    }
    .fl-accordion {
      .fl-accordion-button-label {
        font-family: $font__heading;
        color: $color__primary;
        font-size: 16px;
        @include transition();
        &:hover {
          color: $color__secondary;
        }
      }
      .fl-accordion-button-icon {
        color: $color__primary;
        @include transition();
        &:hover {
          opacity: 1;
        }
      }
    }

    .fl-callout {
      .fl-icon {
        color: $color__primary;
      }
      .fl-callout-cta-link {
        position: relative;
        display: inline-block;
        padding: 0 0 3px 0;
        color: $color__darkgrey;
        font-family: $font__heading;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        &::after {
          position: absolute;
          content: "";
          height: 1px;
          width: 100%;
          left: 0;
          right: auto;
          bottom: 0;
          background-color: $color__darkgrey;
          @include transition();
        }
      }
    }
    .fl-content-slider {
      .bx-wrapper .bx-pager.bx-default-pager a {
        height: 16px;
        width: 16px;
        border-radius: 2px;
        background-color: $color__lightgrey;
        @include transition();
        &:hover,
        &.active {
          background-color: $color__primary;
        }
      }
    }
    .fl-icon-group *,
    .fl-icon-wrap * {
      @include transition();
    }
  }
}

// Backend fixed
.fl-col-highlight {
  box-sizing: border-box;
}