.wordpress_body {
	.fl-builder-content{
		.featured-product{
			.product-tile{
				width: 100%;
				.backup{
					display: none;
					a{
						position: relative;
					    overflow: hidden;
					    display: inline-block;
					    .label{
						    @include transition();
						 	opacity: 0;
						    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+20,000000+100&0+7,0.65+100 */
							background: -moz-linear-gradient(top,  rgba(0,0,0,0) 7%, rgba(0,0,0,0.09) 20%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 7%,rgba(0,0,0,0.09) 20%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to bottom,  rgba(0,0,0,0) 7%,rgba(0,0,0,0.09) 20%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */


							bottom: 0;
							position: absolute;
							width: 100%;
							padding: 180px 0 40px 0;
							left: 0;
							font-size: 16px;
							font-weight: 400;
							text-transform: uppercase;
							font-family: $font__heading;
							letter-spacing: 1.5px;
							span{
								@include transition();
								transform: translateY(120px);
								display: inline-block;
							}
					    }
					    &:hover{
						    .label{
								opacity: 1;
								span{
									transform: translate(0px);
								}
							}
					    }
					}
				   
				}
				.info{
					font-family: $font__heading;
					color: $color__redesigngrey;
					span{
						display :block;
					}
					.product-brand{
					    color: #484848;
					    font-weight: 700;
					    font-size: 16px;
					    text-transform: uppercase;
					    text-decoration: none;
					    letter-spacing: 1px;
					    width: 100%;
					    height: 26px;
					    overflow: hidden;
					    white-space: nowrap;
					    text-overflow: ellipsis;
					}
					
					.product-name{
						font-weight: 400;
					    font-size: 12px;
					    text-transform: uppercase;
					    text-decoration: none;
					    letter-spacing: 0.5px;
					    width: 100%;
					    height: 20px;
					    overflow: hidden;
					    white-space: nowrap;

					    text-overflow: ellipsis;
					}
					.product-desc{
						font-weight: 400;
					    font-size: 12px;
					    text-decoration: none;
					    letter-spacing: 0.5px;
					    line-height: 14px;
					    width: 100%;
					    height: 29px;
					}
					.product-price{
					    height: 54px;
						margin: 10px 0;
						.product-price-old{
							line-height: 34px;
						}
						.product-price-new{
							display: none;
							color: #f20060;
						}
					}
					.product-link{
						background-color: $color__primary;
						text-transform: uppercase;
						border: 1px solid $color__primary;
					    color: $color__secondary-text;
					    font-weight: 400;
					    margin: 11px auto 0;
					    padding: 8px;
					    width: 80%;
					    font-size : 13px;
					    font-family: $font__heading;
						@include transition();
						cursor: pointer;
						letter-spacing: 1.5px;
						span{
							display: inline-block;
							position: relative;
							padding: 0 0 5px;
							&::after{
								content: "";
								position: absolute;
								width: 100%;
								bottom: 0;
								left:0;
								height: 1px;
								background-color: $color__secondary-text;
								
								transition: all 0.3s ease;
							    -o-transition: all 0.3s ease;
							    -ms-transition: all 0.3s ease;
							    -moz-transition: all 0.3s ease;
							    -webkit-transition: all 0.3s ease;
							}
						}
					    &:hover{
							background-color: $color__secondary-text;
							color: $color__primary;
							span{
								&::after{
									background-color: $color__primary;
								}
							}
							
						}	
					}
				}
				&.out_of_stock{
					border: 0 !important;
					.backup{
						display: block;
					}
					.instock{
						display: none;
					}
				}
			}
			&.layout-1col {
				width: 100%;
				margin: 0 auto;
				padding : 10px ;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				.overall-container{
					width: 100%;
					max-width: 256px;
					margin: 0 auto;
					.product-tile{
						background: #fff;
						width: 100%;
						margin: 0 auto;
						max-width: 256px;
						border: 1px solid #444444;
					}

				}

			}
			&.layout-2col {
				padding: 20px;
				background-position: center;
			    background-repeat: no-repeat;
			    background-size: cover;
			    .overall-container{
					width: 100%;
					max-width: 450px;
					margin: 0 auto;
					.product-tile{
						display: table;
						border: 1px solid #444444;
						padding: 0;
						.product-image{
							display: table-cell;
						    vertical-align: middle;
						    width: 48%;
						    padding: 10px 0;
						    background-color: #fff;
						}
						.info{
							display: table-cell;
							vertical-align: middle;
							padding: 17px 17px 17px 0;
							padding: 10px ;
							background-color: rgba(255, 255, 255, 0.82);
						}


					}

				}

			}
			
			
			&.layout-1coltext{
				width: 100%;
				margin: 0 auto;
				padding : 10px ;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				.overall-container{
					width: 100%;
					max-width: 700px;
					margin: 0 auto;
					display: table;
					.product-tile{
						width: 36%;
						max-width: 256px;
						margin: 0 auto;
						display: table-cell;
						vertical-align: middle;
						background: #fff;
						border: 1px solid #444444;
					}

				}
				.text{
					width: 64%;
					max-width: 512px;
					margin: 0 auto;
					display: table-cell;
					vertical-align: middle;
					background-color: rgba(255, 255, 255, 0.82);
					padding: 10px 20px;
					h2{
					    font-family: "Raleway",sans-serif;
					    font-size: 23px;
					    font-weight: 100;
					    line-height: 30px;
					}
				}
			}
			&.layout-2coltext{
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: cover;
			    padding: 20px;
			    .overall-container{
					width: 100%;
					margin: 0 auto;
					display: table;
					.product-tile{
						width: 44%;
						margin: 0 auto;
						display: table-cell;
						vertical-align: middle;
						background: #fff;
						border: 1px solid #444444;
						max-width: auto;
						padding: 10px 0;
						 .product-image{
							display: table-cell;
						    vertical-align: middle;
						    width: 48%;
						    padding: 0;
						}
						.info{
							display: table-cell;
							vertical-align: middle;
							padding: 17px 17px 17px 0;
						}
					}
				}
				.text{
					width: 64%;
					max-width: 512px;
					margin: 0 auto;
					display: table-cell;
					vertical-align: middle;
					background-color: rgba(255, 255, 255, 0.82);
					padding: 10px 20px;
					 h2{
					    font-family: "Raleway",sans-serif;
					    font-size: 23px;
					    font-weight: 100;
					    line-height: 30px;
					}

				}

			}
			&.no-border{
				.overall-container{
					.product-tile{
						border: 0;
					}
				}
			}
		}
	}
}


/***************************** Media Queries *****************************/


.product-tile .info a.product-link.mobile{
    display: block;
}
 #pageContainer .product-tile .info a.product-link.mobile{
    display: none;
}
.product-tile .info a.product-link.desktop{
    display: none;
}
#pageContainer .product-tile .info a.product-link.desktop{
    display: block;
}

/**
 * - =< 910px
 */

@media screen and (max-width: 56.800em) {

	.product-tile .info .product-link {
	    padding: 6px;
	    width: 100%;
	    font-size: 12px;
	}
}
@media screen and (max-width: 768px) {
	
	.layout-1coltext .overall-container,
	.layout-1coltext .text,
	.layout-2coltext .overall-container,
	.layout-2coltext .product-tile,
	.layout-2coltext .text{
		width: 100%;
		max-width: inherit;
		display: block;
	}
	.layout-1coltext .product-tile{
		width: 100%;
		max-width: 256px;
		display:block;
		margin: 0 auto 20px auto ;
	}
	
	.product-tile .info .product-desc{
		min-height: inherit;
	}
}

@media screen and (max-width: 450px) {
	.layout-2col .product-tile,
	.layout-2coltext .product-tile {
	    display: block;
	    max-width: 256px;
	    margin: 0 auto;
	}
	.layout-2coltext .product-tile {
		margin: 0 auto 20px auto ;
	}
	.layout-2col .product-tile .product-image,
	.layout-2col .product-tile .info,
	.layout-2coltext .product-tile .product-image,
	.layout-2coltext .product-tile .info{
		display: block;
	    width: 100%;
	}
	.layout-2coltext .product-tile .info {
	    padding: 10px 10px 0 10px;
	}
}