.wordpress_body {
	a.dot-tags:visited,
	a.dot-tags{
		display: inline-block;
		text-align: center;
		margin: 0 5px 0 0;
		font-size: 14px;
		height: 19px;
		color: $color__primary;
		@include term_customisation_icon_dots();
		@include term_customisation_colour_dots();
		&.term_customisation.term_customisation--colour{
			border-radius: 50%;
			height: 16px;
			width: 16px;
			top: 3px;
			position: relative;
		}
	}
	a.terms:visited,
	a.terms{
		display: inline-block;
	    padding: 3px 5px;
	    color: $color__mediumgrey;
	    border: 1px solid $color__lightgrey;
	    cursor: pointer;
	    border-radius: 4px;
	    margin: 3px 10px 3px 0px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    -ms-border-radius: 4px;
	    @include transition();
	    &.selected,
	    &:hover{
		    color: $color__secondary-text;
			background-color: $color__lightgrey;
	    }
	    
		@include term_customisation_icon_dots();
		&.term_customisation.term_customisation--icon{
			
			&::before{
			    position: relative;
			    font-family: "mlifeicon";
			    display: inline-block;
			}
		}
	    @include term_customisation_colour_terms();
	    &.term_customisation.term_customisation--icon{
			&::before{
			    margin: 0 5px 0 0;
			}
		}
	}
}