.content_top_tags {

  *,
  &:before,
  &:after {
    transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
  }
  .home_makeup {
    margin: 0 0 20px 0;
    .col2 {
      float: left;
      width: 52%;
      a.one_square {
        display: block;
        height: 220px;
        margin: 0 0 100px 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        color: #ffffff;
      }
      .one_square {
        > span {
          display: block;
          height: 100px;
          background-color: #fda1c9;
          position: absolute;
          top: 100%;
          width: 100%;
          text-align: center;
          box-shadow: inset 0px 0px 0px 1px #fda1c9;
          -o-box-shadow: inset 0px 0px 0px 1px #fda1c9;
          -ms-box-shadow: inset 0px 0px 0px 1px #fda1c9;
          -moz-box-shadow: inset 0px 0px 0px 1px #fda1c9;
          -webkit-box-shadow: inset 0px 0px 0px 1px #fda1c9;
          img {
            display: block;
            margin: 12px auto 8px auto;
          }
        }
        span {
          &.cta {
            border: 1px solid #ffffff;
            display: block;
            font-family: Times, "Times New Roman", serif;
            font-size: 20px;
            font-style: italic;
            font-weight: 100;
            margin: 0 auto;
            max-width: 160px;
            line-height: normal;
            padding: 5px 0 2px 0;
          }
          &.logo_hover {
            display: block;
            position: absolute;
            text-align: center;
            top: 0px;
            width: 100%;
            left: 0;
            opacity: 0;
          }
        }
      }
      a.one_square:hover {
        background-size: 120%;
        > span {
          background-color: #ffffff;
        }
      }
      .one_square:hover span {
        &.logo_hover {
          opacity: 1;
        }
        &.cta {
          border: 1px solid #fda1c9;
          color: #fda1c9;
        }
      }
    }
    .col1 {
      width: 21%;
      float: left;
      margin: 0 0 0 3%;
      a.four_square {
        height: 150px;
        display: block;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        &:first-child {
          margin: 0 0 20px 0;
        }
        span {
          padding: 5px 0;
          width: 100%;
          text-align: center;
          display: block;
          position: absolute;
          bottom: 0;
          background-color: rgba(253, 161, 201, 0.9);
          color: #ffffff;
          font-family: "Raleway", arial, sans-serif;
          font-weight: 200;
          font-size: 18px;
          line-height: 20px;
        }
        &:hover span {
          line-height: 150px;
          padding: 0px;
          font-size: 25px;
        }
      }
    }
  }
}

