.fl-field-description table{
	border: 1px solid #aeaeae;
}
.fl-field-description table tr:first-child{
	border-bottom : 1px solid #d1d1d1;
}
.fl-field-description table tr td:nth-child(2){
	border-right : 1px solid #d1d1d1;
}
.fl-field-description table tr td{
	padding: 2px 10px;
	text-align: center;
}