// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// theme images folder
@mixin backgroundImage($imageName) {
	background-image : url('./images/' +$imageName );
}

// transition
@mixin transition($time: 0.3s) {
	transition: all $time ease-out;
}




// keyframes
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin animate($name, $duration, $iteration, $direction) { 
	animation-duration: $duration;
	animation-iteration-count: $iteration;
	animation-name: $name;
	animation-direction: $direction;
}

@include keyframes(loading) {
	
	
	0%{
		right: 0;
		left: auto;
		width: 100%;
	}
	25%{
		width: 0%;
	}
	49%{
		width: 100%;
		right: 0;
		left: auto;
	}
	50%{
		width: 100%;
		right: auto;
		left: 0;
	}
	75%{
		width: 0%;
	}
	100%{
		width: 100%;
		right: auto;
		left: 0;
	}
}
@mixin loading() {
  @include animate(loading, 2.5s, infinite, normal);
}



%icon--blog{
	content: "\e900";
	top: 1px;
}
%icon--brush{
	content: "\e901";
	top: 1px;
}
%icon--diamond{
	content: "\e902";
	top:2px;
}
%icon--flame{
	content: "\e903";
	top: 1px;
}
%icon--hashtag{
	content: "\e904";
	top: 1.5px;
}
%icon--heart{
	content: "\e905";
	top: 2px;
}
%icon--light-bulb{
	content: "\e906";
	top: 1px;
}
%icon--play-circle{
	content: "\e907";
	top: 1.5px;
}
%icon--play-square{
	content: "\e908";
	top: 1.5px;
}
%icon--search{
	content: "\e909";
	top: 1px;
}
%icon--star{
	content: "\e90a";
	top: 1px;
}
$icons: blog brush diamond flame hashtag heart light-bulb play-circle play-square search star;

@mixin term_customisation_icon(){
		/*
		 * menu item with icon
		*/
	&.term_customisation.term_customisation--icon{
		
		a{
			
			&::before{
			    position: relative;
			    font-family: "mlifeicon";
			    display: inline-block;
			}
		}
		
		
		@each $icon in $icons{
			
			&.term_customisation--#{$icon}{
				a::before{
					@extend %icon--#{$icon};
				}
				
			}
		}
	}
}
@mixin term_customisation_icon_dots(){
		/*
		 * menu item with icon
		*/
	&.term_customisation.term_customisation--icon{
		
		&::before{
		    position: relative;
		    font-family: "mlifeicon";
		    display: inline-block;
		}
		
		
		@each $icon in $icons{
			
			&.term_customisation--#{$icon}{
				&::before{
					@extend %icon--#{$icon};
				}
				
			}
		}
		
		
	}
}

$colors: 'green' 'pink' 'beige' 'blue';
$colors-map:(
	'green':$color__secondary-green,
	'pink':$color__secondary-pink,
	'beige':$color__secondary-beige,
	'blue':$color__secondary-blue
);


@function getColor($col) {
  @return map-get($colors-map, '#{$col}');
}


@mixin term_customisation_colour_main_menu(){
/*
	 * menu item with colour
	*/
	&.term_customisation.term_customisation--colour{
		
		a:hover{
			color: $color__secondary-text;
		}
		
		@each $color in $colors{
		    &.term_customisation--#{$color}{
				a:hover{
					background-color:getColor(#{$color});
				}
			}
		}
	}
}

@mixin term_customisation_colour_sidebar(){
/*
	 * menu item with colour
	*/
	&.term_customisation.term_customisation--colour{
		
		@each $color in $colors{
			&.term_customisation--#{$color}{
				a{
					border: 1px solid getColor(#{$color});
					color: getColor(#{$color});
					&:hover{
						background-color:getColor(#{$color});
						color: $color__secondary-text;
					}
				}
			}
		}
	}
}

@mixin term_customisation_colour_dots(){
/*
	 * menu item with colour
	*/
	&.term_customisation.term_customisation--colour{
			
		@each $color in $colors{
			&.term_customisation--#{$color}{
				background-color:getColor(#{$color});
			}
		}
	}
}

@mixin term_customisation_colour_terms(){
/*
	 * menu item with colour
	*/
	&.term_customisation.term_customisation--colour{
			
		@each $color in $colors{
			&.term_customisation--#{$color}{
				color:getColor(#{$color}); 
				border: 1px solid getColor(#{$color});
				&.selected,
			    &:hover{
				    color: $color__secondary-text;
					background-color: getColor(#{$color});
			    } 
			}
		}
	}
}
@mixin term_customisation_colour_primaryCategory{
/*
	 * menu item with colour
	*/
	&.term_customisation.term_customisation--colour{
			
		@each $color in $colors{
			&.term_customisation--#{$color}{
				a{
					color: $color__secondary-text;
					border: 1px solid getColor(#{$color});
					background-color:getColor(#{$color}); 
				    &:hover{
					    color:getColor(#{$color}); 
					    background-color: $color__secondary-text;
				    } 
				}
			}
		}
	}	
}
