.wordpress_body.header--green {
  .site-header#masthead {
    .site-branding {
      background-color: $color__secondary-green;
    }
    .search-bar-header {
      background-color: $color__secondary-green;
      opacity: 0.7;

    }
  }
  .main-navigation {
    .current_page_item {
      > a {
        background-color: $color__secondary-green;
        color: $color__secondary-text;
        margin: 3px 0;
      }
    }
    .current-menu-item {
      > a {
        background-color: $color__secondary-green;
        color: $color__secondary-text;
        margin: 3px 0;
      }
    }
    .current_page_ancestor {
      > a {
        background-color: $color__secondary-green;
        color: $color__secondary-text;
        margin: 3px 0;
      }
    }
    .current-menu-ancestor {
      > a {
        background-color: $color__secondary-green;
        color: $color__secondary-text;
        margin: 3px 0;
      }
    }
  }
  .widget.widget_mlifecategorytaglinks {
    .menu-see-all-container {
      ul {
        li.term_customisation.term_customisation--colour, li.term_customisation.term_customisation--icon {
          a {
            border: 1px solid $color__secondary-green;
            color: $color__secondary-green;
            &:hover {
              background-color: $color__secondary-green;
              color: $color__secondary-text;
            }
          }
        }
      }
    }
  }
  .widget.widget_nav_menu {
    .menu-see-all-container {
      ul {
        li.term_customisation.term_customisation--colour, li.term_customisation.term_customisation--icon {
          a {
            border: 1px solid $color__secondary-green;
            color: $color__secondary-green;
            &:hover {
              background-color: $color__secondary-green;
              color: $color__secondary-text;
            }
          }
        }
      }
    }
  }
  .fixed-header-container {
    .site-header#masthead-copy {
      .search-bar-header {
        background-color: $color__secondary-green;
        opacity: 0.9;
      }
    }
  }
  .site-header#masthead-copy {
    .site-branding {
      background-color: $color__secondary-green;
    }
  }
  .site-header#masthead {
    .site-branding {
      background-color: $color__secondary-green;
    }
  }
}


// PINK
.wordpress_body.header--pink {
  .site-header#masthead {
    .site-branding {
      background-color: $color__secondary-pink;
    }
    .search-bar-header {
      background-color: $color__secondary-pink;
      opacity: 0.7;

    }
  }
  .main-navigation {
    .current_page_item {
      > a {
        background-color: $color__secondary-pink;
        color: $color__secondary-text;
        margin: 3px 0;
      }
    }
    .current-menu-item {
      > a {
        background-color: $color__secondary-pink;
        color: $color__secondary-text;
        margin: 3px 0;
      }
    }
    .current_page_ancestor {
      > a {
        background-color: $color__secondary-pink;
        color: $color__secondary-text;
        margin: 3px 0;
      }
    }
    .current-menu-ancestor {
      > a {
        background-color: $color__secondary-pink;
        color: $color__secondary-text;
        margin: 3px 0;
      }
    }
  }
  .widget.widget_mlifecategorytaglinks {
    .menu-see-all-container {
      ul {
        li.term_customisation.term_customisation--colour, li.term_customisation.term_customisation--icon {
          a {
            border: 1px solid $color__secondary-pink;
            color: $color__secondary-pink;
            &:hover {
              background-color: $color__secondary-pink;
              color: $color__secondary-text;
            }
          }
        }
      }
    }
  }
  .widget.widget_nav_menu {
    .menu-see-all-container {
      ul {
        li.term_customisation.term_customisation--colour, li.term_customisation.term_customisation--icon {
          a {
            border: 1px solid $color__secondary-pink;
            color: $color__secondary-pink;
            &:hover {
              background-color: $color__secondary-pink;
              color: $color__secondary-text;
            }
          }
        }
      }
    }
  }
  .fixed-header-container {
    .site-header#masthead-copy {
      .search-bar-header {
        background-color: $color__secondary-pink;
        opacity: 0.9;
      }
    }
  }
  .site-header#masthead-copy {
    .site-branding {
      background-color: $color__secondary-pink;
    }
  }
  .site-header#masthead {
    .site-branding {
      background-color: $color__secondary-pink;
    }
  }
}



// BEIGE
.wordpress_body.header--beige {
  .site-header#masthead {
    .site-branding {
      background-color: $color__secondary-beige;
    }
    .search-bar-header {
      background-color: $color__secondary-beige;
      opacity: 0.7;

    }
  }
  .main-navigation {
    .current_page_item {
      > a {
        background-color: $color__secondary-beige;
        color: $color__secondary-text;
        margin: 3px 0;
      }
    }
    .current-menu-item {
      > a {
        background-color: $color__secondary-beige;
        color: $color__secondary-text;
        margin: 3px 0;
      }
    }
    .current_page_ancestor {
      > a {
        background-color: $color__secondary-beige;
        color: $color__secondary-text;
        margin: 3px 0;
      }
    }
    .current-menu-ancestor {
      > a {
        background-color: $color__secondary-beige;
        color: $color__secondary-text;
        margin: 3px 0;
      }
    }
  }
  .widget.widget_mlifecategorytaglinks {
    .menu-see-all-container {
      ul {
        li.term_customisation.term_customisation--colour, li.term_customisation.term_customisation--icon {
          a {
            border: 1px solid $color__secondary-beige;
            color: $color__secondary-beige;
            &:hover {
              background-color: $color__secondary-beige;
              color: $color__secondary-text;
            }
          }
        }
      }
    }
  }
  .widget.widget_nav_menu {
    .menu-see-all-container {
      ul {
        li.term_customisation.term_customisation--colour, li.term_customisation.term_customisation--icon {
          a {
            border: 1px solid $color__secondary-beige;
            color: $color__secondary-beige;
            &:hover {
              background-color: $color__secondary-beige;
              color: $color__secondary-text;
            }
          }
        }
      }
    }
  }
  .fixed-header-container {
    .site-header#masthead-copy {
      .search-bar-header {
        background-color: $color__secondary-beige;
        opacity: 0.9;
      }
    }
  }
  .site-header#masthead-copy {
    .site-branding {
      background-color: $color__secondary-beige;
    }
  }
  .site-header#masthead {
    .site-branding {
      background-color: $color__secondary-beige;
    }
  }
}

// BLUE
.wordpress_body.header--blue {
  .site-header#masthead {
    .site-branding {
      background-color: $color__secondary-blue;
    }
    .search-bar-header {
      background-color: $color__secondary-blue;
      opacity: 0.7;

    }
  }
  .main-navigation {
    .current_page_item {
      > a {
        background-color: $color__secondary-blue;
        color: $color__secondary-text;
        margin: 3px 0;
      }
    }
    .current-menu-item {
      > a {
        background-color: $color__secondary-blue;
        color: $color__secondary-text;
        margin: 3px 0;
      }
    }
    .current_page_ancestor {
      > a {
        background-color: $color__secondary-blue;
        color: $color__secondary-text;
        margin: 3px 0;
      }
    }
    .current-menu-ancestor {
      > a {
        background-color: $color__secondary-blue;
        color: $color__secondary-text;
        margin: 3px 0;
      }
    }
  }
  .widget.widget_mlifecategorytaglinks {
    .menu-see-all-container {
      ul {
        li.term_customisation.term_customisation--colour, li.term_customisation.term_customisation--icon {
          a {
            border: 1px solid $color__secondary-blue;
            color: $color__secondary-blue;
            &:hover {
              background-color: $color__secondary-blue;
              color: $color__secondary-text;
            }
          }
        }
      }
    }
  }
  .widget.widget_nav_menu {
    .menu-see-all-container {
      ul {
        li.term_customisation.term_customisation--colour, li.term_customisation.term_customisation--icon {
          a {
            border: 1px solid $color__secondary-blue;
            color: $color__secondary-blue;
            &:hover {
              background-color: $color__secondary-blue;
              color: $color__secondary-text;
            }
          }
        }
      }
    }
  }
  .fixed-header-container {
    .site-header#masthead-copy {
      .search-bar-header {
        background-color: $color__secondary-blue;
        opacity: 0.9;
      }
    }
  }
  .site-header#masthead-copy {
    .site-branding {
      background-color: $color__secondary-blue;
    }
  }
  .site-header#masthead {
    .site-branding {
      background-color: $color__secondary-blue;
    }
  }
}