.wordpress_body{
	.content-area {
		float: left;
		margin: 0 (-$size__site-sidebar) 0 0;
		width: $size__site-main;
	}

	.site-content .widget-area {
		float: right;
		overflow: hidden;
		//width: $size__site-sidebar;
		width: calc(25% - 35px);
		
	}
	
	.site-footer {
		clear: both;
		width: $size__site-main;
	}
	@media screen and (max-width: $bp_medium_screen) {
		.site-content .widget-area,
		.content-area {
			float: none;
			margin: 30px auto;
			width: 98%;
		}
	
				
	}
}
