
$color__primary: #009aa9; /* Watson green */
$color__secondary: #35A79F; /* Light green */
$color__thirdy: #89cac0;

$color__darkgrey : #333333;
$color__mediumgrey : #7f7f7f;
$color__lightgrey : #cccccc;

$color__redesigngrey : #484848;

//$color__secondary-opacity-9: rgba(0, 154, 169, 0.9); /* Light green overlay */
$color__secondary-opacity-9: rgba(53, 167, 159, 0.8); /* Light green overlay */
$color__primary-text-opacity-8: rgba(0, 0 ,0, 0.8); /* black overlay */
$color__secondary-text-opacity-7: rgba(255, 255 ,255, 0.7); /* white overlay */

$color__secondary-pink: #D94184; /* pink */
$color__secondary-green: #C3D800; /* green */
$color__secondary-beige: #E76950; /* red */
$color__secondary-blue: #76CBEA; /* blue */


$color__primary-text: #000000;
$color__secondary-text: #ffffff; /* font color for primary color background */

$color__link: $color__secondary;
$color__link-visited: $color__secondary;
$color__link-hover: $color__thirdy;
$color__text-main: $color__primary-text;

$color__text-screen: $color__primary-text;

$color__background-body: #ffffff;

/*
  BOX SHADOWS
 */
 $box-shadow-normal:  0px 0px 6px 0px rgba($color__mediumgrey,0.8);















$color__background-screen: #ffffff;
$color__background-hr: #cccccc;
$color__background-button: $color__primary;


$color__background-pre: #eee;
$color__background-ins: #fff9c0;




$color__text-input: #666;
$color__text-input-focus: #111;





$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
