$font__main: Arial,sans-serif;
$font__heading: 'Raleway',Arial,sans-serif;
$font__cta: 'Times', 'Times New Roman' ,serif;

$font__icon: 'mlifeicon';

$font__line-height-body: normal;


$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__line-height-pre: 1.6;




@font-face {
  font-family: 'mlifeicon';
  src:  url('fonts/mlifeicon.eot?iri6sh');
  src:  url('fonts/mlifeicon.eot?iri6sh#iefix') format('embedded-opentype'),
    url('fonts/mlifeicon.ttf?iri6sh') format('truetype'),
    url('fonts/mlifeicon.woff?iri6sh') format('woff'),
    url('fonts/mlifeicon.svg?iri6sh#mlifeicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mlifeicon-"], [class*=" mlifeicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mlifeicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mlifeicon-blog:before {
  content: "\e900";
}
.mlifeicon-brush:before {
  content: "\e901";
}
.mlifeicon-diamond:before {
  content: "\e902";
}
.mlifeicon-flame:before {
  content: "\e903";
}
.mlifeicon-hashtag:before {
  content: "\e904";
}
.mlifeicon-heart:before {
  content: "\e905";
}
.mlifeicon-light-bulb:before {
  content: "\e906";
}
.mlifeicon-play-circle:before {
  content: "\e907";
}
.mlifeicon-play-square:before {
  content: "\e908";
}
.mlifeicon-search:before {
  content: "\e909";
}
.mlifeicon-star:before {
  content: "\e90a";
}
.mlifeicon-rss:before {
  content: "\e90b";
}
.mlifeicon-house:before {
  content: "\e90c";
}
.mlifeicon-newsletter:before {
  content: "\e90d";
}
.mlifeicon-menu:before {
  content: "\e90e";
}


@font-face {
  font-family: 'watsonsblogicons';
  src: url('../font/watsonsblogicons.eot?2110849');
  src: url('../font/watsonsblogicons.eot?2110849#iefix') format('embedded-opentype'),
  url('../font/watsonsblogicons.woff2?2110849') format('woff2'),
  url('../font/watsonsblogicons.woff?2110849') format('woff'),
  url('../font/watsonsblogicons.ttf?2110849') format('truetype'),
  url('../font/watsonsblogicons.svg?2110849#watsonsblogicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'watsonsblogicons';
    src: url('../font/watsonsblogicons.svg?2110849#watsonsblogicons') format('svg');
  }
}
*/

[class^="watsonsblogicons-"]:before, [class*=" watsonsblogicons-"]:before {
  font-family: "watsonsblogicons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


.watsonsblogicon-blog-beauty:before {
  content: '\e800';
}

/* '' */
.watsonsblogicon-blog-wellbeing:before {
  content: '\e801';
}

/* '' */
.watsonsblogicon-blog-care:before {
  content: '\e802';
}

/* '' */
.watsonsblogicon-blog-new-in:before {
  content: '\e803';
}

/* '' */
.watsonsblogicon-blog-deals:before {
  content: '\e804';
}


/* '' */
