.wordpress_body {
  .site-header#masthead-copy,
  .site-header#masthead {
    @include transition();
    z-index: 200;
    position: relative;
    /*
     *top part of the header containing the top icon, site logo, site description
    */
    .site-branding {
      background-color: $color__background-body;
      position: relative;
      width: 100%;
      height: 90px;
      text-align: center;
      /*
       *padding: 30px 0 3px 0;
       *sidebar with icon
      */
      .widget {
        margin: 0;
      }
      /*.sidebar-header {
        position: absolute;
        top: 33px;
        &#top-left-sidebar {
          left: 33px;
        }*/
        &#top-right-sidebar {
          right: 33px;
          //Support to Multilingual
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;
          ul {

            li {

              a {
                font-size: 24px;
                margin: 0 3px;

              }
            }
          }
        }

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          li {
            display: inline-block;

            a {
              font-size: 27px;
              display: block;
              background-position: center;
              background-repeat: no-repeat;
              background-size: auto;
              color: $color__secondary-text;
              @include transition();
              &:hover {
                color: $color__secondary;
              }

              &:focus {
                color: $color__link-hover;
              }
            }
          }
        }
      }

      /*
       * logo or site title
      */
      .site-title {
        text-align: center;
        margin: 0 auto;
        /*margin: 0 0 20px 0;
        font-family: $font__heading;
        @include font-size(3.5);
        letter-spacing: 1px;
        font-weight: 200;
        a,
        a:hover {
          color: $color__secondary-text;
        }*/

      }
      /*
       * site description
      */
      /*.site-description {
        color: $color__secondary-text;
        text-align: center;
        font-weight: 400;
        font-size: 15px;
      }*/
    
    .search-bar-header {
      background-color: $color__secondary;
      form.search-form {
        padding: 0 0 0 80px;
        position: relative;
        label {
          margin: 0;
        }
        span.mlifeicon-search {
          font-size: 25px;
          color: $color__secondary-text;
          position: absolute;
          left: 40px;
          top: 10px;
        }
        input.search-field {
          border: 0px;
          width: 93%;
          padding: 14px 0;
          background-color: transparent;

          color: $color__secondary-text !important;
          font-size: 17px;
          font-family: $font__heading;
          font-weight: 200;
          z-index: inherit;
          border-radius: 0;
          box-shadow: none;

          &:focus {
            outline: none;
          }
        }
      }

      ::-webkit-input-placeholder {
        color: $color__secondary-text !important;
        font-size: 17px;
        font-family: $font__heading;
        font-weight: 200;
      }
      #search-bar input.placeholder, #search-bar textarea.placeholder {
        color: $color__secondary-text !important;
      }
      ::-webkit-input-placeholder * {
        color: $color__secondary-text !important;
        font-size: 17px;
        font-family: $font__heading;
        font-weight: 200;
      }
      * ::-webkit-input-placeholder * {
        color: $color__secondary-text !important;
        font-size: 17px;
        font-family: $font__heading;
        font-weight: 200;
      }

      :-webkit-input-placeholder {
        color: $color__secondary-text !important;
      }
      :-moz-placeholder {
        color: $color__secondary-text !important;
        font-size: 17px;
        font-family: $font__heading;
        font-weight: 200;
      }

      ::-moz-placeholder {
        color: $color__secondary-text !important;
        font-size: 17px;
        font-family: $font__heading;
        font-weight: 200;
        opacity: 1;
        /* Since FF19 lowers the opacity of the placeholder by default */
      }

      :-ms-input-placeholder {
        color: $color__secondary-text !important;
        font-size: 17px;
        font-family: $font__heading;
        font-weight: 200;
      }

    }
  }
  /*
   *when the second header is showing, hide the original one
  */
  .site-header#masthead {
    &.copied {
      opacity: 0;
    }
  }
  /*
   *the sticky copy of the header
  */
  .fixed-header-container {
    z-index: 999;
    position: fixed;
    top: 52px;
    left: 0;
    width: 100%;
    .site-header#masthead-copy {
      max-width: 1440px;
      margin: 0 auto;
      height: 90px;

      /*
       *top part of the header containing the top icon, site logo, site description
      */
      .site-branding {
        text-align: center;
        /*
         *padding: 10px 0 1px 0;
         *sidebar with icon
        */

        .sidebar-header {
          top: 24px;
          ul {
            li {
              a {
                font-size: 20px;
              }
            }
          }

          &#top-right-sidebar {
            //Support to Multilingual
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            @media screen and (max-width: $bp_medium_screen) {
              display: none;
            }
            ul {

              li {

                a {
                  font-size: 18px;
                  margin: 0 2px;
                }
              }
            }
          }
        }

        /*
         * logo or site title
        */
        .site-title {
          //margin: 0 0 10px 0;
          img {
            width: 100%;
          }
        }
        /*
         * site description
        */
        .site-description {
          display: none;
        }
      }
      .search-bar-header {
        background-color: $color__secondary-opacity-9;
      }

    }
  }
  &.admin-bar {
    .fixed-header-container {
      top: 84px;
    }
  }
  @media screen and (max-width: $bp_medium_screen) {
    .site-header#masthead-copy,
    .site-header#masthead {

      /*
       *top part of the header containing the top icon, site logo, site description
      */
      .site-branding {
        //padding: 10px 0 1px 0;
        /*
         *sidebar with icon
        */
        .sidebar-header {
          top: 24px;
          &#top-left-sidebar {
            left: 33px;
          }
          &#top-right-sidebar {
            display: none;
          }

          ul {
            li {
              a {
                font-size: 20px;
              }
            }
          }
        }

        /*
         * logo or site title
        */
        .site-title {
          //margin: 0 0 10px 0;
          img {
            width: 70px;
          }
        }
        /*
         * site description
        */
        .site-description {
          display: none;
        }
      }
    }
    /*
     *the sticky copy of the header
    */
    .fixed-header-container {
      .search-bar-header {
        display: none;
      }
    }
    &.admin-bar {
      .fixed-header-container {
        top: 84px;
      }
    }

  }
}

/****  Hybris Mobile Version ***/
#skip-to-content {
  background: #ffffff;
  .wordpress_body {
    .fixed-header-container {
      top: 96px;
    }
  }
}

.wordpress_body {
  .site.multilingual#page {
    .fixed-header-container {
      top: 50px;
    }
  }
}
@media screen and (max-width: $bp_small_screen) {
  .wordpress_body {
    .site.multilingual#page {
      .fixed-header-container {
        top: 125px;
      }
    }
  }
}
