.wordpress_body{
	.breadcrumbs{
		font-size: 14px;
		margin: 0 0 6px 0;
		color: $color__primary;
		a{
			color: $color__primary-text;
			@include transition();
			&:hover{
				color: $color__secondary;
			}
		}
	}
	.page-header{
    	margin: 20px 0 20px;
		.page-title{
			font-size: 30px;
		    color: $color__darkgrey;
		    font-weight: 200;
		    font-family: $font__heading;
		    .filter_tag{
			    font-size: 22px;
		    }
		}
		.tag-list{
			float: left;
			width: 60%; 
		}
		.sorting_select{
			position: relative;
			float: left;
			width: 40%;
			font-family: $font__heading;
			color: $color__mediumgrey;
			padding: 8px 0 0 0;
			text-transform: uppercase;
			text-align: right;
			.sorting_choice{
				display: inline-block;
				width: 150px;
				padding: 0 0 3px 0;
				margin: 0 0 0 5px;
				border-bottom: 1px solid $color__primary-text;
				color: $color__primary-text;
				text-align: left;
				position: relative;
				@include transition();
				cursor: pointer;
				&:hover{
					color:$color__secondary;
					border-bottom: 1px solid $color__secondary;
				}
				&::after{
					transition: transform 0.3s ease-in-out; 
					position: absolute;
					content: "\f107";
					font-family: 'FontAwesome', Font Awesome\ 5 Brands;
					right: 0;
					font-size: 24px;
					top: -4px;
				}
				&.choices_opened{
					&::after{
						transform: rotate(-180deg);	
					}
				}
			}
			ul{
				position: absolute;
				display: none;
				top: 100%;
				right: 0;
				width: 155px;
				z-index: 3;
				background-color: $color__background-body;
				margin: 0;
				padding: 0;
				text-align: left;
				list-style-type: none;
				box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.3);
				li{
					margin: 5px 0 5px 5px;
					a{
						color: $color__primary-text;
						@include transition();
						&:hover{
							color:$color__secondary;
						}
					}
				}
			}
		}
		@media screen and (max-width: $bp_medium_screen) {
			.tag-list{
				float: none;
				width: 100%; 
			}
			.sorting_select{
				float: none;
				width: 100%;
			}
		}
	}
}