.wordpress_body{
	p.search_results{
		font-size: 16px;
		font-family: $font__heading;
		
	}
	.fake-widget.widget{
		width : 100%;
		padding: 0;
	}
	.no_results_container{
		display: table;
		@include backgroundImage('noresult.jpg');
		background-position: right center;
	    background-size: cover;
	    background-repeat: no-repeat;
		height: 250px; 
		width: 100%;
		margin: 0 0 20px 0;
		.no_results_text{
			display: table-cell;
			vertical-align: middle;
			p{
				width: 45%;
				line-height: 22px;
				font-weight: 100;
				letter-spacing: 0.2px;
				margin: 0;
				padding: 0 0 0 5%;
				font-size: 18px;
				font-family: $font__heading;
				color: $color__secondary-text;
				
			}
		}
	}
	
	div.tx3-tag-cloud
	{
		padding:0;
		margin: 0;
		div.li {
			float: left;
			a{
				display: block;
				text-decoration: none;
				color: $color__mediumgrey;
				padding: 3px 5px;
				font-family: $font__heading;
				font-weight: 200;
				line-height: normal;
				@include transition();
				&:hover{
					color: $color__secondary;
				}
			}
		}
	}
} 