.wordpress_body {
  #mlife-search-bar{
    background-color: $color__secondary-opacity-9;

    h3 {
      display: none;
    }
  }
}
.wordpress_body.single.single-post{
	#mlife-search-bar{
		background-color: $color__secondary-opacity-9;

		h3 {
			display: none;
		}
	}
	.site-content#content{
		padding: 0;
		position: relative;
		z-index: 100;
		top: -48px;
		.hero{
			height: 450px;
		    width: 100%;
		    background-position: center center;
		    background-repeat: no-repeat;
		    background-size: cover;
		    margin: 0 0 36px 0;
		    position: relative;
		    @media screen and (max-width: $bp_medium_screen) {
				margin: 0 0 56px 0;
			}

		    &.hero.no-image {
			    height: auto;
			    background-color: $color__primary;
			    h1 {
				    position: relative;
				    background: none;
				    filter: none;
				}
			}

		    h1 {
			    left: 0;
			    padding: 94px 82px 89px;
			    position: absolute;
			    text-align: center;
			    bottom: 0px;
			    width: 100%;
			    box-sizing: border-box;
			    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 18%, rgba(1,1,1,0) 21%, rgba(2,2,2,0.05) 27%, rgba(3,3,3,0.09) 30%, rgba(4,4,4,0.14) 36%, rgba(11,11,11,0.47) 64%, rgba(15,15,15,0.62) 82%, rgba(19,19,19,0.7) 100%);
			    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 18%, rgba(1,1,1,0) 21%, rgba(2,2,2,0.05) 27%, rgba(3,3,3,0.09) 30%, rgba(4,4,4,0.14) 36%, rgba(11,11,11,0.47) 64%, rgba(15,15,15,0.62) 82%, rgba(19,19,19,0.7) 100%);
			    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 18%, rgba(1,1,1,0) 21%, rgba(2,2,2,0.05) 27%, rgba(3,3,3,0.09) 30%, rgba(4,4,4,0.14) 36%, rgba(11,11,11,0.47) 64%, rgba(15,15,15,0.62) 82%, rgba(19,19,19,0.7) 100%);
			    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 18%, rgba(1,1,1,0) 21%, rgba(2,2,2,0.05) 27%, rgba(3,3,3,0.09) 30%, rgba(4,4,4,0.14) 36%, rgba(11,11,11,0.47) 64%, rgba(15,15,15,0.62) 82%, rgba(19,19,19,0.7) 100%);
			    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color__secondary-textfff', endColorstr='#131313', GradientType=0 );
			    color: $color__secondary-text;
			    font-family: $font__heading;
			    font-size: 30px;
			    font-weight: 100;
			    line-height: 40px;
			    margin: 0;
			}
			.whitebox_info{
				position: absolute;
			    bottom: 0;
			    background-color: $color__secondary-text-opacity-7;
			    width: 100%;
			    .breadcrumbs {
				    height: 20px;
				    float: left;
				    font-family: arial;
				    font-size: 12px;
				    max-width: calc(50% - 102px);
				    overflow: hidden;
				    padding: 6px 0 6px 40px;
				    text-overflow: ellipsis;
				    -ms-text-overflow: ellipsis;
				    white-space: nowrap;
				    margin: 0;
				    line-height: 20px;
				}
				nav.navigation.post-navigation {
				    margin: 0;
				    position: absolute;
				    right: 0;
				    padding: 8px 40px 6px 0;
				    border: 0px;

				    .nav-links{
					    .nav-previous,
					    .nav-next{
						    float: none;
						    width: auto;
						    display: inline-block;
						    a{
							    color: $color__primary-text;
							    display: inline-block;
							    padding: 0;
							    .meta-nav {
								    color: $color__primary-text;
								    font-size: 12px;
								    letter-spacing: auto;
								    line-height: 10px;
								    margin: 0 10px 0 10px;
								    text-transform: none;
								    font-family: $font__main;
								    display: inline-block;
    							}
						    }
					    }
					    div + div{
						    border-top: 0px;
						    border-left: 1px solid $color__primary-text;
						    padding: 0 0 0 1px;
					    }
					}
				}
				@media screen and (max-width: $bp_medium_screen) {
					background-color: $color__secondary-text;
					top: 100%;
					.breadcrumbs {
					    padding: 50px 0 8px 0;
					    position: initial;
					    max-width: none;
					    margin: 0 20px;
					    width: auto;
					    float: none;
					    border-bottom: 1px solid $color__mediumgrey;
					}
					nav.navigation.post-navigation {
					    padding: 0;
					    top: -26px;
					    width: 100%;
					    .nav-links > div{
						    display: block;
						    position: absolute;
						    color: $color__secondary-text;

						    &.nav-previous {
							    left: 20px;
							    a{
								   color: $color__secondary-text;
								   .meta-nav {
									    color: $color__secondary-text;
									}
						    	}
							}
							&.nav-next {
							    right: 20px;
							    border: 0;
								a{
								   color: $color__secondary-text;
								   .meta-nav {
									    color: $color__secondary-text;
									}
						    	}
							}
						}
					}
				}
			}
			.category_post {
			    position: absolute;
			    bottom: -50px;
			    left: calc(50% - 50px);
			    width: 100px;
			    height: 100px;
			    border-radius: 50%;
			    -moz-border-radius: 50%;
			    -webkit-border-radius: 50%;
			    -ms-border-radius: 50%;

			    @include term_customisation_icon();
			    @include term_customisation_colour_primaryCategory();




			    a{
				    padding: 37px 0 0 0;
				    box-sizing: border-box;
				    background-color: $color__secondary-text;
				    width: 100px;
				    height: 100px;
				    border-radius: 50%;
				    -moz-border-radius: 50%;
				    -webkit-border-radius: 50%;
				    -ms-border-radius: 50%;
				    display: block;
				    text-align: center;
				    font-size: 15px;
					font-family: $font__heading;
					font-weight: 300;
				    @include transition();
				    &::before{
					    display: block;
						width: 100%;
					    font-size: 28px;
						margin: 15px auto  12px auto;
						color: $color__primary;
				    }

			    }
			     &.term_customisation.term_customisation--colour{
					a{
						color: $color__secondary-text;
						padding: 37px 0 0 0;
						box-sizing: border-box;
					}
				}
			    &.term_customisation.term_customisation--icon{
					a{
						padding: 0;
				    	background-color: $color__secondary-text;
						color: $color__primary;
				    	&:hover{
							color: $color__secondary-text;
							background-color: $color__primary;
							&::before{
								color: $color__secondary-text;
							}
						}
					}
				}
			}

		}
		.more-info {
		    box-sizing: border-box;
		    margin: 0 40px;
		    border-bottom: 1px solid $color__lightgrey;
		    padding: 12px 0 20px 0;
		    &.footer {
			    border-top: 1px solid #e7e9eb;
			    border-bottom: 0px;
			    padding: 20px 0 0 0;
			}
		    .tag_text {
			    float: left;
			    border-right: 1px solid $color__lightgrey;
			}
			.posted-on {
			    color: $color__mediumgrey;
			    float: left;
			    font-size: 14px;
			    line-height: 30px;
			    padding: 0 0 0 5px;
			}
			.social_sharing {
			    float: right;
			    ul {
					list-style-type: none;
					margin: 0px;
					padding: 0px;
					li {
						color: $color__primary;
						font-size: 12px;
						display: inline-block;
						a{
							@include transition();
							color: $color__primary;
							font-size: 18px;
							position: relative;
							padding: 0 9px 0px 3px;
							&:hover{
								color: $color__secondary;
							}
							&::after{
								content: "";
								position: absolute;
								right: 0;
								top: 24%;
								height: 60%;
								border-right: 1px dotted $color__primary;
							}
						}
						&:last-child{
							a{
								padding: 0 0 0px 3px;
								&::after{
									display: none;
								}
							}
						}
					}
				}
			}
			@media screen and (max-width: $bp_medium_screen) {
				display: none;
				margin: 0 20px;
				&.footer {
				    display: block;
					text-align: center;
					border-top: 1px solid $color__mediumgrey;
				}
				.posted-on,
				.tag_text {
				    float: none;
				    display: inline-block;
				}
				.social_sharing {
				    float: none;
				     ul li:first-child {
					    display: block;
					    font-family: Raleway, sans-serif;
					    font-weight: 200;
					    color: #172439;
					    font-size: 21px;
					    text-transform: none;
					    padding: 16px 0 7px 0;
					    text-align: center;
					    line-height: normal;
					}
				}
			}
			@media screen and (max-width: $bp_small_screen) {
				.posted-on,
				.tag_text {
				    display: block;
				    border: none;
				}
			}
		}
		.content_bottom_mlife#content_bottom_mlife{
			margin: 30px 40px;
			@media screen and (max-width: $bp_medium_screen) {
				margin: 30px 20px;
			}
			.widget{
				h3.widget-title{
				    .title_table{
					    font-size : 26px;
					}
				}
			}
		}
	}
}