.wordpress_body{
	.loadmore-container{
		clear: both;
		.load-more-button{
			background-color: $color__primary;
			color: $color__secondary-text;
			border: 1px solid $color__primary;
			display: block;
			width: 80%;
			max-width: 250px;
			margin: 20px auto;
			padding: 9px 0 9px 0;
			text-align: center;
			font-family: $font__heading;
			font-size: 16px;
			text-transform: uppercase;
			cursor: pointer;
			@include transition();
			.loading-line{
				position: relative;
			    display: inline-block;
			    padding: 0 0 3px 0;
				&::after{
					position: absolute;
					content: "";
					height: 1px;
					width: 100%;
					left: 0;
					right: auto;
					bottom: 0;
					background-color: $color__secondary-text;
					@include transition();
				}
			}
			&:hover{
				background-color: transparent;
				color: $color__primary;
				.loading-line{
					&::after{
						background-color:$color__primary;
					}
				}
			}
			&.loading{
				.loading-line{
					&::after{
						@include loading();
					}
				}
			}
		}
		.no-more{
			font-family: $font__heading;
			font-size: 16px;
			text-transform: uppercase;
			text-align: center;
			text-decoration: underline;
			display: none;
			margin: 20px auto;
		}
		.navigation.posts-navigation{
			display: none;
		}
		.number_posts{
			text-align: center;
			color: $color__darkgrey;
			font-family: $font__heading;
		}
	}
}