.wordpress_body{
	.main-navigation {
		clear: both;
		display: block;
		width: 100%;
		height: 65px;
		background-color: $color__lightgrey;
	
		ul {
			display: table;
			list-style: none;
			width: 100%;
			margin: 0;
			padding-left: 0;
			background-color: $color__background-body;
			table-layout:fixed;
		}
	
		li {
			display: table-cell;
			text-align: center;
			
			vertical-align: middle;
			
			
			
			a {
				display: block;
				text-decoration: none;
				color:$color__primary-text;
				font-family: $font__heading;
				text-transform: uppercase;
				font-size: 15px;
				//padding: 15px 0;
				
				@include transition();
				&::before{
					font-size: 15px;
				    position: relative;
				    font-family: "mlifeicon";
				    display: inline-block;
				    margin: 0 5px 0 0;
				    color: $color__primary;
				    @include transition(); 
				}
				
				&:hover{
					color:$color__secondary;
					&::before{
						color:$color__secondary;
					}
				}
			}
			/*
			 * menu item with icon or color
			*/

			@include term_customisation_icon();	
			&.term_customisation.term_customisation--icon{
				a{
					&::before{
					    margin: 0 5px 0 0;
					}
				}
			}
			@include term_customisation_colour_main_menu();	
			 
		}
	
		
		
		
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			color: $color__secondary;
		}
	}
	
	/* Small menu. */
	.menu-toggle,
	.main-navigation.toggled ul {
		display: none;
		z-index: 600;
	    position: absolute;
	    top: 18px;
	    right: 22px;
	    font-size: 30px;
	    color: $color__secondary-text;
	}
	
	@media screen and (max-width: $bp_medium_screen) {
		.menu-toggle {
			display: block;
			@include transition(0.5s); 
			&:hover{
				color: $color__secondary-text;
			}
			&.rotate_clockwise{
				transform: rotate(135deg);
			}
		}
		.main-navigation {
			ul {
				display: block;
				@include transition(0.5s); 
				width: 100%;
				position: absolute;
				top: 0;
				left: 100%;
				z-index: 500;
				background-color:$color__primary-text-opacity-8;
				&.opened{
					left: 0;
				}
			}
		
			li {
				display: block;
				text-align: center;
				padding: 0px 70px 0 0;
				a {
					color: $color__secondary-text ;
					font-size: 22px;
					font-weight: 100;
					padding: 20px 14px 16px;
				}
				/*
				 * menu item with icon
				*/
				&.term_customisation.term_customisation--icon{
					
					a{
						
						&::before{
							color: $color__secondary-text ;
							font-size: 22px;
						   	margin: 0 5px 0 0;
						}
					}
				}	 
			}
		
			
			
			
			.current_page_item > a,
			.current-menu-item > a,
			.current_page_ancestor > a,
			.current-menu-ancestor > a {
				color: $color__secondary-text ;
				font-weight: 600;
				&::before{	
					font-weight: 400;
				}
			}
		}
	}
	
	.comment-navigation,
	.posts-navigation,
	.post-navigation {
	
		.site-main & {
			margin: 0 0 1.5em;
			overflow: hidden;
		}
	
		.nav-previous {
			float: left;
			width: 50%;
		}
	
		.nav-next {
			float: right;
			text-align: right;
			width: 50%;
		}
	}
}