.wordpress_body{
	.alignleft {
		display: inline;
		float: left;
		margin-right: 1.5em;
	}
	
	.alignright {
		display: inline;
		float: right;
		margin-left: 1.5em;
	}
	
	.aligncenter {
		clear: both;
		@include center-block;
	}
}