.wordpress_body .site-header#masthead-copy .site-branding .sidebar-header#top-right-sidebar .wpml-ls-legacy-dropdown,
.wordpress_body .site-header#masthead .site-branding .sidebar-header#top-right-sidebar .wpml-ls-legacy-dropdown,
.wordpress_body .site-header#masthead .site-branding .sidebar-header .wpml-ls-legacy-dropdown
{
  width: 5.5em;
  margin-right: 2em;

}
.wordpress_body .site-header#masthead-copy .site-branding .sidebar-header#top-right-sidebar .wpml-ls-legacy-dropdown a,
.wordpress_body .site-header#masthead .site-branding .sidebar-header#top-right-sidebar .wpml-ls-legacy-dropdown a,
.wordpress_body .site-header#masthead .site-branding .sidebar-header .wpml-ls-legacy-dropdown a
{
  font-size: 14px;
  margin: 0;
  line-height: 0.8;
}
.wordpress_body .site-header#masthead-copy .site-branding .sidebar-header .wpml-ls-legacy-dropdown ul li,
.wordpress_body .site-header#masthead .site-branding .sidebar-header .wpml-ls-legacy-dropdown ul li

{
  display:block;
}

.wpml-ls-legacy-dropdown .wpml-ls-sub-menu
{
  border-top:0;
}

.wpml-ls-legacy-dropdown a:hover {
  background-color: #eee !important;
}