body{
	.wordpress_body{
		&,
		button,
		input,
		select,
		optgroup,
		textarea {
			color: $color__text-main;
			font-family: $font__main;
			font-size: 14px;
			line-height: $font__line-height-body;
		}
	}
}

@import "headings";

@import "copy";
